# temp files
*~
*.#*
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.dSYM

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# helpful to me only?
TAGS
#makedocs
#publish_docs.sh

# Compiled programs
docs/doxygen/
docs/libtrace.doxygen
examples/rate/rate
examples/rate/rate-dir
examples/skeleton/complete
examples/skeleton/event
examples/skeleton/output
examples/skeleton/trivial
examples/stats/stats
examples/tutorial/configdemo
examples/tutorial/createdemo
examples/tutorial/filterdemo
examples/tutorial/getpayloaddemo
examples/tutorial/gettcpdemo
examples/tutorial/gettransportdemo
examples/tutorial/headerdemo
examples/tutorial/httpcount
examples/tutorial/lengthdemo
examples/tutorial/mplscount
examples/tutorial/mplstag
examples/tutorial/readdemo
examples/tutorial/sourcedemo
examples/tutorial/timedemo
examples/tutorial/writedemo
lib/.dirstamp
lib/libtrace.h
libpacketdump/lexer.c
libpacketdump/parser.c
libpacketdump/parser.h
libtrace-3.0.21/
libwandio/tools/wandiocat/wandiocat
libwandio/tools/wandiocheck/
test/test-autodetect
test/test-convert
test/test-convert2
test/test-decode
test/test-decode2
test/test-dir
test/test-drops
test/test-errors
test/test-event
test/test-format
test/test-fragment
test/test-pcap-bpf
test/test-plen
test/test-ports
test/test-time
test/test-wireless
test/test-write
test/traces/100_packets.out.pcap
tools/traceanon/traceanon
tools/tracediff/tracediff
tools/traceends/traceends
tools/tracemerge/tracemerge
tools/tracepktdump/tracepktdump
tools/tracereplay/tracereplay
tools/tracereport/tracereport
tools/tracertstats/tracertstats
tools/tracesplit/tracesplit
tools/tracesplit/tracesplit_dir
tools/tracestats/tracestats
tools/tracetop/tracetop
ylwrap


# Autotools files
# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
.deps/
/config.h
config.status
config.h.in
config.log
configure.scan
stamp-h1
.libs/
autoscan.log
config.guess
config.sub
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
